/*
Kunde: Mini AG
Version: 1.0
Prog: N. Wieschmann
CSS für Miniklub schweiz Seite
*/

/*general styling*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c4c4c;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background: white;
}

h1, h2 {
    font-family: "century gothic";
    color: #cc3333;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
}

/* header styling */
header {
    background-image: url("../assets/hintergrund_1.jpg");
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
}

.fl_left {
    float: left;
    width: 15%;
    margin-top: 15px;
    padding-left: 10px;
}

.welcome {
    float: right;
    width: 80%;
    margin-top: 2%;
    text-align: center;
}

/*nav styling*/
nav {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    height: 40px;
}
nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px 5px 0;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}

nav ul li a:hover {
    border-bottom: 2px solid #4c4c4c;
}

/*aside styling */
.news h2 {
    color: #4c4c4c;
    border-bottom: solid 2px #4c4c4c;
}

.newswrapp {
    display: flex;
}

.newswrapp > * {
    flex: 1 1 0%;
}

.boxwrapp {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

/* styling article */
.flex {
    margin-left: 20px;
    width: 60%;
}

.one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.one > * {
    flex: 1 1 20%;
}

.two > * {
    flex: 1 1 20%;
}

img {
    max-width: 500px;
    height: auto;
}

/* Table styling preise.html */
h2

table {
    width: 50%;
}

caption {
    color: #cc3333;
    font-weight: bold;
    margin-bottom: 10px;
}

table, td, tr, th{
    border: 1px dotted #4c4c4c;
    border-collapse: collapse;
    padding: 10px;
    
}

th {
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

tfoot td {
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Formular styling member.html */
form {
	margin: 20px auto;
	width: 60%;
}

fieldset {
	border: 1px dotted #4c4c4c;
	padding: 10px;
	margin-bottom: 20px;
}

legend {
	color: #cc3333;
	font-weight: bold;
}

label {
	width: 10em;
}

form p {
	margin-bottom: 3px;
}


/*media querrys */
@media only screen and (min-width : 320px) and ( max-width: 768px) {
    header {
        font-size: 0.7rem;
        height: 200px;
    }

    section img {
        max-width: 100%;
    }


}