/*
Kunde: Mini AG
Version: 1.0
Prog: N. Wieschmann
CSS für Miniklub schweiz Seite
*/

/*general styling*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c4c4c;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background: white;
}

h1, h2 {
    font-family: "century gothic";
    color: #cc3333;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
}

/* header styling */
header {
    background-image: url("../assets/hintergrund_1.jpg");
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
}

/*nav styling*/
nav ul {
    list-style: none;
    text-align: rigth;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px 5px 0;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}

nav ul li a:hover {
    border-bottom: 2px solid #4c4c4c;

}

/* Table styling preise.html */
h2

table {
    width: 50%;
}

caption {
    color: #cc3333;
    font-weight: bold;
    margin-bottom: 10px;
}

table, td, tr, th{
    border: 1px dotted #4c4c4c;
    border-collapse: collapse;
    padding: 10px;
    
}

th {
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

tfoot td {
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}